/*****RESET*****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

/*****MAIN LAYOUT*****/

body {
    background: rgb(217,219,211);
    background: linear-gradient(0deg, rgba(217,219,211,1) 85%, rgba(0,150,136,1) 85%); 
    height: 100vh;
}

.container-app {
    width: 1200px;
    height: 700px;
    background-color: aquamarine;
    display: flex;
}

.wapp-cont {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside {
    width: 400px;
    height: 700px;
    background-color: white;
}

.right-container {
    width: 800px;
    height: 700px;
    background-image: url(../img/mine.jpg);
    display: flex;
    flex-direction: column;
}

/*****ASIDE*****/

.info-account {
    background-color: #edeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-info-account i{
    color: #B1B1B1;
    font-size: larger;
    padding-right: 10px;
    margin-left: 5px;
}

.notification-bell {
    background-color: #88D9FD;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.info-account img {
    width: 50px;
    border-radius: 50%;
    padding: 5px;
    vertical-align: middle;
}

.info-account span {
    vertical-align: middle;
    font-size: 0.8rem;
}

.slash-bell {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slash-bell i {
    color: #88D9FD;
}

.notification-bell-text {
    margin-left: 5px;
    font-size: 0.8rem;
}

.underline-text {
    text-decoration: underline;
    color: #6587A0;
}

.input-section {
    padding: 5px;
    position: relative;
    background-color: #edeaea;
}

.input-section input {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    border: none;
}

.input-section i {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    color: #B1B1B1
}

.contact {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #d6d4d4;
    cursor: pointer;
}

.contact img {
    width: 50px;
    border-radius: 50%;
    padding: 5px;
}

.contact-info {
    display: flex;
    
}

.contact-text {
    padding: 5px;
}

.contact-text p {
    font-size: 0.8rem;
}

.last-action-time span {
    font-size: 0.7rem;
    color: #8f8b8b;
}

#ultimate-sent-message {
    color: #8f8b8b;
    font-size: 0.7rem;
}

/*****RIGHT SECTION*****/

.header-right-section {
    background-color: #edeaea;
    border-left: 1px solid #B1B1B1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-right-section img {
    width: 50px;
    border-radius: 50%;
    padding: 5px;
    vertical-align: middle;
}

.info-writer-account {
    display: flex;
    align-items: center;
}

.header-right-section-text p {
    font-size: 0.8rem;
}

.header-right-section-text .ultimate-access-style {
    color: #8f8b8b;
    font-size: 0.7rem;
    font-weight: 600;
}

.icon-right-section i{
    color: #B1B1B1;
    font-size: larger;
    padding-right: 10px;
    margin-left: 5px;
}

.main-right-section {
    margin: 60px;
    flex-grow: 2;
}

.message-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.message-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sent {
    background-color: #D5F9BA;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 0.8rem;
    text-align: left;
    position: relative;
}

.recived {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 0.8rem;
    text-align: left;
    position: relative;
}

.sent-message-time {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 0.6rem;
    padding-right: 4px;
    color: #B1B1B1;
}

.recived-message-time {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 0.6rem;
    padding-right: 4px;
    color: #B1B1B1;
}

.footer-right-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EDEAEA;
}

.footer-emoji-menu {
    color: #6C7272;
    font-size: larger;
    padding: 10px;
    margin: 0 10px;
    text-align: center;
}

.footer-right-section .input-section {
    width: 100%;
    border-radius: 5px;
}
.footer-right-section .input-section input {
    width: 100%;
    border-radius: 5px;
    text-align: left;
}

*:focus {
    outline: none;;
}

.clicked {
    background-color: #dddddd;
}