* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    background: rgb(217,219,211);
    background: linear-gradient(0deg, rgba(217,219,211,1) 85%, rgba(0,150,136,1) 85%); 
    background-repeat: no-repeat;
    height: 100vh;
}

.container-app {
    width: 1200px;
    height: 700px;
    background-color: aquamarine;
    display: flex;
}

.wapp-cont {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside {
    width: 400px;
    height: 100%;
    background-color: blueviolet;
}

.right {
    width: 800px;
    height: 100%;
    background-color: burlywood;
}

.info-account {
    background-color: #edeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-info-account i{
    color: #B1B1B1;
    font-size: larger;
    padding-right: 10px;
    margin-left: 5px;
}

.notification-bell {
    background-color: #88D9FD;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.info-account img {
    width: 50px;
    border-radius: 50%;
    padding: 5px;
    vertical-align: middle;
}

.info-account span {
    vertical-align: middle;
    font-size: 0.8rem;
}

.slash-bell {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slash-bell i {
    color: #88D9FD;
}

.notification-bell-text {
    margin-left: 5px;
    font-size: 0.8rem;
}

.underline-text {
    text-decoration: underline;
    color: #6587A0;
}